/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* --------------------- HEADER --------------------- */

.page {
  min-inline-size: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-main);
  font-variation-settings: "wght" var(--font-weight-main, 400);
  color: var(--accent-color);
  background-color: var(--background-color, white);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  margin-block: 100px;
}

.header {
  inline-size: clamp(
    23.4375rem,
    16.2852rem + 30.5164vw,
    43.75rem
  ); /* clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);*/
  /* block-size: clamp(20.438rem, 19.535rem + 3.85vi, 23rem); */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  background-color: var(--background-color, white);
  border: 2px solid var(--accent-color, black);
  /* padding-block-start: clamp(
    7.5rem,
    7.149rem + 1.5023vw,
    8.5rem
  ); */
  padding-block: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem) 24px;
  margin-block-end: 100px;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  margin-block-end: 25px;
}

.header__subtitle {
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
  margin-block-end: 20px;
  text-decoration: none;
  cursor: default;
}

/* .theme-menu {
  padding-block-end: 25px;
} */

.theme-menu__list {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 84px;
  padding-left: 4px;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* --------------------- MAIN ---------------------- */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: min(100%, 700px);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color, white);
  border: 2px solid var(--accent-color, black);
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-bold, 700);
  border-bottom: 2px solid var(--accent-color, black);
  padding: 4px 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid var(--accent-color, black);
}

.saturate-filter {
  filter: saturate(120%);
}

.bright-filter {
  filter: brightness(60%);
}

.multiple-filter {
  filter: sepia(70%) brightness(60%) contrast(130%);
}

.hue-rotate-filter {
  filter: hue-rotate(-90deg);
}

.invert-filter {
  filter: invert(100%);
}

.blur-filter {
  filter: blur(2px);
}

.grayscale-filter {
  filter: grayscale(100%);
}

.card__image-container {
  position: relative;
}

.tag {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-accent, 400);
  text-shadow: 0 0 1px var(--background-color, white);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--background-color, white)) or
  (-webkit-text-stroke: 1px var(--background-color, white)) {
  .tag {
    text-shadow: none;
    text-stroke: 1px var(--background-color, white);
    -webkit-text-stroke: 1px var(--background-color, white);
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  gap: 25px;
  margin: 25px;
}

.card__button-container {
  display: flex;
  justify-content: end;
  color: var(--button-text-color, white);
  gap: 6px;
  margin-block-end: 25px;
}

.card__icon-button {
  display: flex;
  min-height: 38px; /* добавлено для центрирования иконки и корректного значения высоты */
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.like-icon {
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  margin-right: 25px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 12.6px;
  color: var(--button-text-color, white);
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.main-button {
  position: relative;
  color: var(--button-text-color, white);
  background-color: var(--background-color, white);
  border: 2px solid var(--accent-color, black);
  cursor: pointer;
}

/* -------- FOOTER & DIALOG -------------- */

.save {
  margin-block-start: 50px;
  display: flex;
  justify-content: center;
}

.save__button {
  display: flex;
  align-items: center;
  block-size: 55px;
  gap: 8px;
  padding: 13px 18px;
}

.floppy {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  block-size: 21px;
  color: var(--button-text-color, white);
  mix-blend-mode: difference;
}

#dialog[open] {
  display: flex;
  flex-direction: column;
  color: var(--accent-color, black);
  background: var(--background-color, white);
  border: 2px solid var(--accent-color, black);
  gap: 30px;
  inline-size: 357px;
  padding: 30px;
}

#dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__container {
  display: flex;
  gap: 20px;
}

.dialog__title {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-accent, 400);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__floppy {
  align-self: center;
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  justify-content: center;
  inline-size: 100%;
  block-size: 38px;
  text-transform: uppercase;
}

/* --------------------- ADAPTIVE ---------------- */

@media (width <= 375px) {
  .header__subtitle {
    margin-block-end: 25px;
  }

  .theme-menu {
    padding-left: 5px;
  }

  .footer__button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog__button {
    inline-size: 257px;
    block-size: 38px;
  }

  .tag {
    inset-inline-end: 10px;
  }
}
